doctype html
html
  head
    title= title + " - Sequelize Vault / Express App"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1
        a(href="/") Sequelize Vault /
          span Express App
      p= title
    div(class="content")
      block content
    footer
      p
        a(href="https://github.com/linyows/sequelize-vault-app") &copy; linyows
